:root {
  --primary-color: rgb(247, 152, 10);
}

.logo-hr {
  border: 1px solid rgb(0, 0, 0);
  width: 100%;
}


body {
  background: linear-gradient(20deg, #d29937d5, #f7816c70, #3f64dd9d) center center / cover no-repeat;
  background-size: 100vw 300vh;
  background-position: center top;
  animation: none;
}

.header {
  min-width: 20rem;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #fff;
}

.sweet_logo {
  width: 100%;
  max-width: 100px;
}

.wrapper {
  height: 100vh;

  .sign-up-link {
    text-decoration: none;
    transition: 0.4s;

    &:hover {
      text-decoration: underline;
      font-weight: 700;
      text-shadow: 0 0 3px #aaa;

    }
  }

}

.login-card {
  /* min-width: 20rem;
  max-width: 25rem; */
  /* min-width: 200px; */
  /* height: 20rem; */
  /* width: 50%; */
  width: 100%;
  max-width: 300px;
  /* margin: 20% auto 0 auto; */
  margin: 0 2%;
  /* padding: 0 1.5rem 0; */
  padding: 0 45px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 245, 245);
  /* box-shadow: var(--box-shadow-blue); */
  box-shadow: 10px 10px 10px 2px rgba(0, 0, 0, 0.1), inset 10px 10px 20px 10px #ffffff;
  transition: 2s;
  animation: fadeIn 1s forwards;

  &:hover {
    box-shadow: 0 0 50px 5px rgba(255, 255, 255, 0.8);
  }

  h1 {
    margin: 7px 0 20px 0;
    text-wrap: nowrap;
    font-size: 1.2rem;
    font-weight: 600;
  }

  .logo-box {
    margin: 35px 0 10px;
    height: 55px;
  }
}

.create-shop-card {
  min-width: 20rem;
  max-width: 60rem;
  height: auto;
  width: 100%;
  margin: 10px auto 0 auto;
  padding: 3em 2em;
  border-radius: 10px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 245, 245);
  /* box-shadow: 10px 10px 10px -8px #f5d6d1, 8px -4px 16px #ffffff; */
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1), inset 10px 10px 20px 10px #ffffff;
}

.login-input {
  width: 100%;
  font-size: 1rem;
  font-weight: 600;
  margin: .5rem 0;
  padding: 1.2rem;
  border: none;
  outline: none;
  border-radius: 25px;
  background-color: rgb(226, 226, 226);
  box-shadow: inset -5px -5px 10px white,
    inset 5px 5px 10px rgba(0, 0, 0, 0.187);
}

#passWord-input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.log-in-button {
  display: inline-block;
  /* min-width: 5rem; */
  /* height: 3.2rem; */
  /* margin: 1rem auto; */
  font-weight: bold;
  /* letter-spacing: 0.05rem; */
  letter-spacing: 0.1rem;
  /* text-transform: uppercase; */
  font-size: 1rem;
  border-radius: 25px;
  border: none;
  color: var(--text-color);
  padding: 0.4rem 1rem;
  margin: 2rem 0 2.5rem;

  &:hover {
    background-color: #e8e8e8;
    color: var(--primary-color);
  }

}


.sign-in {
  gap: 1em;
  text-decoration: none;
  margin-top: 3em;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--text-color);

  &:hover {
    color: rgb(247, 152, 10);
  }
}

.neumorphic {
  border-radius: 10px;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
}


.content {
  height: calc(100vh - 140px);
  padding: 20px;
  border-radius: 10px;
  border: .5px solid #f4a1939f;
  overflow-y: auto;
  margin-right: -0.80rem;
  ;
  background: #ffffff;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
}

.btn-neumorphic {
  /* width: 100%; */
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: .5px solid #f4a1939f;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: #F4A293;
  box-shadow: 4px 4px 12px #d1d9e6, -4px -4px 12px #ffffff;
  transition: all 0.2s ease;
  /* margin: 10px 5px; */
}

.btn-neumorphic:hover {
  box-shadow: 5px 5px 10px #efbeb6, -5px -5px 10px #ffffff;
}

.btn-neumorphic:active {
  box-shadow: inset 8px 8px 16px #efbeb6, inset -8px -8px 16px #ffffff;
}

.form-control-neumorphic {
  background: #ffffff;
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 8px 8px 16px #d1d9e6, inset -8px -8px 16px #ffffff;
}

.form-control-custom {
  border-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 25px;
}


.card-neumorphic {
  background: #ffffff;
  border: .5px solid #f4a1939f;
  border-radius: 10px;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.nav-link {
  color: #968c8a;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: #b6a7a4;
}

input[type="file"] {
  display: none;
  /* 隱藏真正的file input */
}

.custom-file-upload {
  display: inline-block;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #949392;
  color: #fff;
  border-radius: 5px;
}

.custom-file-upload:hover {
  color: #000;
}

.login-card h4 {
  margin: 0;
  padding: 0;
}

@keyframes fadeIn {
  0% {
    translate: 0 15px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    translate: 0 0;
  }
}