* {
  --bs-gutter-x: 0;
}

:root {
  --primary-color: #f4a293;
  --primary-color-fade: rgba(244, 161, 147, 0.5);
  --text-color: #968c8a;
  --bg-color: #fff;
  --box-shadow-blue: 4px 4px 12px #d1d9e6, -4px -4px 12px #ffffff;
  --box-shadow-pink: 10px 10px 10px -8px #f5d6d1, 8px -4px 16px #ffffff;
  --area-border: 0.5px solid #f4a1939f;
}

html {
  /* border: 1px solid red; */
  /* height: 100%; */
  height: 100vh;
}

body {
  /* height: 100%; */
  margin: 0;
  padding: 0;
  background: linear-gradient(10deg, #d29937d5, #f7816c70, #3f64dd9d);
  background-size: 100vw 200vh;
  /* background-color: var(--bg-color); */
  color: var(--text-color);
  font-family: "Noto Serif TC", "Noto Sans TC", "Noto Serif HK", "serif";
  font-optical-sizing: auto;
  animation: bg-animation 20s -1s infinite alternate;
}

@keyframes bg-animation {
  0% {
    background-position: center top;
  }

  25% {
    background-position: center 50%;
  }

  75% {
    background-position: center 30%;
  }

  100% {
    background-position: center 90%;
  }
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-optical-sizing: auto;
  line-height: 1.2;
  color: #968c8a;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

h6 {
  font-size: 1rem;
}

.h2,
.h4,
.h5 {
  color: #f4a293;
}

/* 整個滾輪 */
::-webkit-scrollbar {
  width: 10px;
  /* 寬度 */
  height: 10px;
  /* 高度 */
}

/* 滾動槽 */
::-webkit-scrollbar-track {
  background: #dbe0ea;

  /* 背景顏色 */
  border-radius: 10px;
  /* 圓角 */
}

/* 滾動條 */
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
  /* 背景顏色 */
  border-radius: 10px;
  /* 圓角 */
}

/* 滾動條懸停效果 */
::-webkit-scrollbar-thumb:hover {
  /* background: var(); */
  /* 背景顏色 */
}

.header {
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  background: var(--bg-color);
}

.logo {
  width: 60px;
  height: 60px;
  margin-left: 1rem;
  object-fit: contain;
}

.logo-img {
  width: 100px;
}

.card {
  min-width: 30rem;
  max-width: 40rem;
  height: 40rem;
  width: 50%;
  padding: 3em;
  margin-top: 5em;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  background-color: rgb(245, 245, 245);
  box-shadow: -7px -7px 10px #ffffff, 5px 5px 10px rgba(0, 0, 0, 0.585);
}


.neumorphic {
  border-radius: 10px;
  background: var(--bg-color);
  box-shadow: var(--box-shadow-blue);
}

.dashboard-navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  border: var(--area-border);
  padding: 10px 20px;
  margin-bottom: 20px;
  background: var(--bg-color);
  box-shadow: var(--box-shadow-pink);
}

.main {
  overflow-y: auto;
  height: calc(100vh - 140px);
  border: 0.5px solid #f4a1939f;
}

.sidebar {
  width: 250px;
  height: calc(100vh - 140px);
  padding: 20px;
  border-radius: 10px;
  border: var(--area-border);
  background: var(--bg-color);
  box-shadow: var(--box-shadow-pink);
  transition: 0.5s;
  text-wrap: nowrap;
  overflow-y: auto;
  overflow-x: hidden;

  ul {
    height: auto;
    transition: 0.6s
  }

  ul {
    transition: 0.6s;
  }
}

.sideBarToggle {
  width: 0px !important;
  padding: 20px 15px !important;
  border-radius: 10px 0 0 10px;
}

.adminToggle {
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.storeToggle {
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
  border-radius: 10px 0 0 10px;
}

.adminToggle {
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.storeToggle {
  height: 0 !important;
  overflow: hidden;
  opacity: 0;
}

.btn-neumorphic {
  width: 100%;
  background: var(--bg-color);
  border: var(--area-border);
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  color: #f4a293;
  box-shadow: 4px 4px 12px #d1d9e6, -4px -4px 12px #ffffff;
  transition: all 0.2s ease;
  /* margin: 10px 5px; */
  margin: 10px;
}

.btn-neumorphic:hover {
  box-shadow: 5px 5px 10px #efbeb6, -5px -5px 10px #ffffff;
}

.btn-neumorphic:active {
  box-shadow: inset 8px 8px 16px #efbeb6, inset -8px -8px 16px #ffffff;
}


/* Joe的文字按鈕動態效果 */
.btn-animation {

  /* 顯示層*/
  .btn-animation-innerSpan {
    /* 包覆層*/
    width: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: auto;
    text-wrap: nowrap;
    transition: 0.3s;
  }

  &:hover {
    .btn-animation-innerSpan {
      width: auto;
      margin-left: 5px;
    }
  }
}

.form-control-neumorphic {
  background: var(--bg-color);
  border: none;
  border-radius: 10px;
  padding: 10px;
  box-shadow: inset 8px 8px 16px #d1d9e6, inset -8px -8px 16px #ffffff;
}

.card-neumorphic {
  background: var(--bg-color);
  border: var(--area-border);
  border-radius: 10px;
  box-shadow: 8px 8px 16px #d1d9e6, -8px -8px 16px #ffffff;
  padding: 20px;
  margin-bottom: 20px;
}

.nav-link {
  color: #968c8a;
  transition: all 0.2s ease;
}

.nav-link:hover {
  color: #b6a7a4;
}

/* 樣式表 */

.form-control-custom {
  border-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 25px;
}

.textarea-custom,
.form-check-input {
  border-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
}

.form-select-custom {
  border-color: var(--primary-color);
  color: var(--text-color);
  border-radius: 10px;
}

.form-control-custom:focus,
.form-select-custom:focus {
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.25rem rgba(244, 162, 147, 0.25);
}

.btn-custom {
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 5px;
}

.btn-custom:hover {
  box-shadow: 5px 5px 10px #efbeb6, -5px -5px 10px #ffffff;
}

.btn-custom:active {
  box-shadow: inset 8px 8px 16px #efbeb6, inset -8px -8px 16px #ffffff;
}

.btn-enter {
  width: 5rem;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
  color: white;
  border-radius: 25px;
  box-shadow: none;
}

.btn-custom:hover {
  background-color: #e87c6b;
  border-color: #e87c6b;
  color: white;
}

.btn-secondary,
.btn-close {
  box-shadow: var(--box-shadow);
}

.link-custom {
  color: #e87c6b;
  text-decoration: underline #e87c6b;
}

.nav-tabs-custom .nav-link {
  text-align: center;
  width: 120px;
  color: var(--text-color);
  box-shadow: none;
  border-radius: 20px 20px 0px 0px;
  border: .3px solid #e9aba1;
}

.nav-tabs-custom .nav-link.active {
  color: var(--bg-color);
  box-shadow: var(--box-shadow);
  background-color: var(--primary-color);
}

.alert-success-custom {
  background-color: #d4edda;
  color: #155724;
  border-color: #c3e6cb;
}

.alert-danger-custom {
  background-color: #f8d7da;
  color: #721c24;
  border-color: #f5c6cb;
}

.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
}

.custom-file-upload:hover {
  background-color: #e87c6b;
}

.file-input {
  display: none;
}


.btn-success {
  --bs-btn-bg: #52b484;
  --bs-btn-border-color: #52b484;
}

.btn-danger {
  --bs-btn-bg: #e0616d;
  --bs-btn-border-color: #e0616d;
}


.text-pink {
  color: var(--primary-color-fade)
}